# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Static build output
staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage/testing
.coverage
htmlcov/
.pytest_cache/

# Ruff
.ruff_cache/